@import "tailwindcss";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
  .dark body {
    @apply bg-slate-950 text-slate-50;
  }
}
